@media only screen and (max-width: 768px) {
    .modalBox{
        width: 95%;
    }
    
    .modal-total button{
        width: 90%;
    }

    .products-list{
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        gap: 1rem;

        .product-card{
            min-width: 18.75rem;
            margin-bottom: 1.25rem;
        }
    }
}
