@media only screen and (max-width: 768px) {
    .modalBox{
        width: 90% !important;
    }
    
    .modal-total button{
        width: 90% !important;
    }

    .products-list{
        display: flex !important;
        flex-wrap: nowrap !important;
        overflow: auto !important;
        gap: 1rem !important;

        .product-card{
            min-width: 18.75rem !important;
            margin-bottom: 1.25rem !important;
        }
    }
}
